canvas {
    display: block;
    border: 1px solid #171717;
    background-color: #adc4d1;
    margin: auto;
}

.container {
    height: 200px;
}

.actions {
    margin: auto;
    display: flex;
    justify-content: flex-end;
    width: 600px;
    padding-top: 10px;
}

button {
    padding: 5px 10px;
    border-radius: 3px;
}

button {
    display: inline-block;
    padding: 0.55em 2.2em;
    border: 0.1em solid #2196f3;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #2196f3;
    text-align: center;
    transition: all 0.2s;
    background-color: white;
    &:hover {
        color: white;
        background-color: #2196f3;
    }
}